* {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  span {
    display: inline-block;
  }
  .header {
    background-color: black;
    color: white;
    height: 20vh;
    line-height: 20vh;
  }
  .center {
    background-color: gray;
    width: 50vw;
    height: 60vh;
    line-height: 60vh;
  }
  .left {
    background-color: blue;
    width: 25vw;
    height: 60vh;
    line-height: 60vh;
  }
  .right {
    background-color: red;
    width: 25vw;
    height: 60vh;
    line-height: 60vh;
  }
  .footer {
    background-color: black;
    color: white;
    height: 20vh;
    line-height: 20vh;
  }